#!/bin/sh
DB_DIR={{ pg_data }}
BACKUP_DIR={{ backup_dir }}
BACKUP_NAME=db_{{ db_name }}_backup_{{ ansible_date_time.date }}.gz
cd {{ pg_data }}
({{ pg_bin }}pg_ctl stop -m fast) && (/bin/tar cfO - ./ |gzip  > {{ backup_dir }}/$BACKUP_NAME) && ({{ pg_bin }}pg_ctl start)
sha256sum {{ backup_dir }}/$BACKUP_NAME > {{ backup_dir }}/$BACKUP_NAME.txt
